<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{dashboard/layout}">
<head>
  <title>Home</title>
</head>

<body>
<div layout:fragment="body">

  <form th:action="@{/admin/product/edit/{id}(id=${product.id})}" th:object="${product}" method="post">

    <label>Title:</label>
    <input type="text" th:field="*{title}" placeholder="Title" required/><br>
    <label>Price:</label>
    <input type="number" th:field="*{price}" step="0.01" required/><br>
    <label>ProductCode:</label>
    <input type="text" th:field="*{productCode}" required/><br>
    <label>RewardPoints:</label>
    <input type="text" th:field="*{rewardPoints}" /><br>
    <label>Availability:</label>
    <input type="text" th:field="*{availability}" required/><br>
    <label>ImageUrl:</label>
    <input type="text" th:field="*{imageUrl}" /><br>
    <label>Featured:</label>
    <input type="checkbox" th:field="*{featured}"/> Featured<br>

    <select th:field="*{brandId}" required>
      <option th:each="brand : ${brands}" th:value="${brand.id}" th:text="${brand.name}"></option>
    </select>

    <select th:field="*{categoryId}" required>
      <option th:each="cat : ${categories}" th:value="${cat.id}" th:text="${cat.name}"></option>
    </select>

    <button type="submit" class="btn btn-outline-warning">Update</button>
  </form>

</div>
</body>
</html>