<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout}">
<head>
    <title>Home</title>
</head>

<body>
<div layout:fragment="content">
    <section class="header_text sub">
        <th:block th:each="slider : ${sliders}" th:if="${slider.id == 2}">
            <img class="pageBanner" th:src="@{${slider.imageUrl}}" alt="New products" style="width: 1200px; height: 400px;" >
            <h4><span>New products</span></h4>
        </th:block>
    </section>
    <div class="container">
    <section class="main-content">

        <div class="row">
            <div class="span9">
                <ul class="thumbnails listing-products">
                    <li class="span3" th:each="product : ${products}">
                        <div class="product-box">
                            <a th:href="'/products/detail/'+${product.id}">
                                <img th:src="@{${product.imageUrl}}" alt="" />
                            </a><br/>
                            <a th:href="@{'/product_detail/' + ${product.id}}" class="title" th:text="${product.title}">Product Name</a><br/>
                            <p class="price" th:text="${'$' + product.price}">$0</p>
                        </div>
                    </li>
                </ul>

                <hr>
                <div class="pagination pagination-small pagination-centered">
                    <ul>
                        <li th:if="${currentPage > 0}">
                            <a th:href="@{'/products/brand/' + ${brandId} + '?page=' + ${currentPage - 1}}">Prev</a>
                        </li>
                        <li th:each="i : ${#numbers.sequence(0, totalPages - 1)}"
                            th:classappend="${i == currentPage} ? 'active'">
                            <a th:href="@{'/products/brand/' + ${brandId} + '?page=' + ${i}}"
                               th:text="${i + 1}">1</a>
                        </li>
                        <li th:if="${currentPage < totalPages - 1}">
                            <a th:href="@{'/products/brand/' + ${brandId} + '?page=' + ${currentPage + 1}}">Next</a>
                        </li>
                    </ul>
                </div>

            </div>
            <div class="span3 col">
                <div class="block">
                    <ul class="nav nav-list below">
                        <li class="nav-header">MANUFACTURES</li>
                        <li th:each="brand : ${brands}">
                            <a th:href="@{'/products/brand/' + ${brand.id}}" th:text="${brand.name}"></a>
                        </li>
                    </ul>


                </div>
                <div class="block">
                    <h4 class="title">
                        <span class="pull-left"><span class="text">Randomize</span></span>
                        <span class="pull-right">
									<a class="left button" href="#myCarousel" data-slide="prev"></a><a class="right button" href="#myCarousel" data-slide="next"></a>
								</span>
                    </h4>
                    <div id="myCarousel" class="carousel slide">
                        <div class="carousel-inner">

                            <div class="active item" th:if="${featuredProducts.size() > 3}">
                                <ul class="thumbnails listing-products">
                                    <li class="span3" th:if="${featuredProducts.size() > 3}">
                                        <div class="product-box" th:object="${featuredProducts.get(3)}">
                                            <span class="sale_tag"></span>
                                            <a th:href="@{'/products/detail/' + *{id}}">
                                                <img th:src="@{*{imageUrl}}" alt="" />
                                            </a><br/>
                                            <a th:href="@{'/products/detail/' + *{id}}" class="title" th:text="*{title}">Title</a><br/>
                                            <a href="#" class="category" th:text="*{category.name}">Category</a>
                                            <p class="price" th:text="'$' + *{price}">$0</p>
                                        </div>
                                    </li>
                                </ul>
                            </div>

                            <div class="item" th:if="${featuredProducts.size() > 4}">
                                <ul class="thumbnails listing-products">
                                    <li class="span3">
                                        <div class="product-box" th:object="${featuredProducts.get(4)}">
                                            <span class="sale_tag"></span>
                                            <a th:href="@{'/products/detail/' + *{id}}">
                                                <img th:src="@{*{imageUrl}}" alt="" />
                                            </a><br/>
                                            <a th:href="@{'/products/detail/' + *{id}}" class="title" th:text="*{title}">Title</a><br/>
                                            <a href="#" class="category" th:text="*{category.name}">Category</a>
                                            <p class="price" th:text="'$' + *{price}">$0</p>
                                        </div>
                                    </li>
                                </ul>
                            </div>

                            <div class="item" th:if="${featuredProducts.size() > 5}">
                                <ul class="thumbnails listing-products">
                                    <li class="span3">
                                        <div class="product-box" th:object="${featuredProducts.get(5)}">
                                            <span class="sale_tag"></span>
                                            <a th:href="@{'/products/detail/' + *{id}}">
                                                <img th:src="@{*{imageUrl}}" alt="" />
                                            </a><br/>
                                            <a th:href="@{'/products/detail/' + *{id}}" class="title" th:text="*{title}">Title</a><br/>
                                            <a href="#" class="category" th:text="*{category.name}">Category</a>
                                            <p class="price" th:text="'$' + *{price}">$0</p>
                                        </div>
                                    </li>
                                </ul>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
</div>
</div>
</body>
</html>


