<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout}">
<head>
  <title>Home</title>
</head>

<body>
<div layout:fragment="content">
  <section class="header_text sub">
    <img class="pageBanner" src="/front/themes/images/pageBanner.png" alt="New products" >
    <h4><span>Product Detail</span></h4>
  </section>
  <section class="main-content">
    <div class="row">
      <div class="span9">
        <div class="row">
          <div class="span4">
            <a th:href="${product.imageUrl}" class="thumbnail" data-fancybox-group="group1" title="Description 1">
              <img alt="" th:src="@{${product.imageUrl}}">
            </a>
            <ul class="thumbnails small">
              <li class="span1">
                <a href="/front/themes/images/ladies/2.jpg" class="thumbnail" data-fancybox-group="group1" title="Description 2"><img src="/front/themes/images/ladies/2.jpg" alt=""></a>
              </li>
              <li class="span1">
                <a href="/front/themes/images/ladies/3.jpg" class="thumbnail" data-fancybox-group="group1" title="Description 3"><img src="/front/themes/images/ladies/3.jpg" alt=""></a>
              </li>
            </ul>
          </div>
          <div class="span5">
            <address>
              <strong>Brand:</strong> <span th:text="${product.brand.name}">Apple</span><br>
              <strong>Product Code:</strong> <span th:text="${product.productCode}">Product 14</span><br>
              <strong>Reward Points:</strong> <span th:text="${product.rewardPoints}">0</span><br>
              <strong>Availability:</strong> <span th:text="${product.availability}">Out Of Stock</span><br>
            </address>
            <h4><strong th:text="'$' + ${product.price}">Price: $587.50</strong></h4>
          </div>
          <div class="span5">
            <form class="form-inline" th:action="@{/cart}" method="post">
              <input type="hidden" name="id" th:value="${product.id}" />
              <label>Qty:</label>
              <input type="number" class="span1" name="quantity" value="1" min="1">
              <button class="btn btn-inverse" type="submit">Add to cart</button>
            </form>

          </div>

        </div>
        <div class="row">
          <div class="span9">
            <ul class="nav nav-tabs" id="myTab">
              <li class="active"><a href="#home">Description</a></li>
              <li class=""><a href="#profile">Additional Information</a></li>
            </ul>
            <div class="tab-content">
              <div class="tab-pane active" id="home">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem</div>
              <div class="tab-pane" id="profile">
                <table class="table table-striped shop_attributes">
                  <tbody>
                  <tr class="">
                    <th>Size</th>
                    <td>Large, Medium, Small, X-Large</td>
                  </tr>
                  <tr class="alt">
                    <th>Colour</th>
                    <td>Orange, Yellow</td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div class="span9">
            <br>
            <h4 class="title">
              <span class="pull-left"><span class="text"><strong>Related</strong> Products</span></span>
              <span class="pull-right">
										<a class="left button" href="#myCarousel-1" data-slide="prev"></a><a class="right button" href="#myCarousel-1" data-slide="next"></a>
									</span>
            </h4>
            <div id="myCarousel-1" class="carousel slide">
              <div class="carousel-inner">
                <div class="active item">
                  <ul class="thumbnails listing-products">
                    <th:block th:each="product, iterStat : ${featuredProducts}">
                      <th:block th:if="${iterStat.index < 3}">
                    <li class="span3">
                      <div class="product-box">
                        <span class="sale_tag"></span>
                        <a th:href="'/products/detail/'+${product.id}"><img alt=""  th:src="@{${product.imageUrl}}"></a><br/>
                        <a href="product_detail.html" class="title" th:text="${product.title}">Wuam ultrices rutrum</a><br/>
                        <a href="#" class="category" th:text="${product.category.name}">Suspendisse aliquet</a>
                        <p class="price" th:text="'$' + ${product.price}">$341</p>
                      </div>
                    </li>
                      </th:block>
                    </th:block>
                  </ul>

                </div>
                <div class="item">
                  <ul class="thumbnails listing-products">
                    <th:block th:each="product, iterStat : ${featuredProducts}">
                      <th:block th:if="${iterStat.index >= 3 && iterStat.index < 6}">
                    <li class="span3">
                      <div class="product-box">
                        <span class="sale_tag"></span>
                        <a  th:href="'/products/detail/'+${product.id}"><img alt="" th:src="@{${product.imageUrl}}"></a><br/>
                        <a href="product_detail.html" class="title" th:text="${product.title}">Fusce id molestie massa</a><br/>
                        <a href="#" class="category" th:text="${product.category.name}">Phasellus consequat</a>
                        <p class="price" th:text="'$' + ${product.price}">$341</p>
                      </div>
                    </li>
                      </th:block>
                    </th:block>
                  </ul>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="span3 col">
        <div class="block">
          <ul class="nav nav-list below">
            <li class="nav-header">MANUFACTURES</li>
            <li th:each="brand : ${brands}">
              <a th:href="@{'/products/brand/' + ${brand.id}}" th:text="${brand.name}"></a>
            </li>
          </ul>
        </div>
        <div class="block">
          <h4 class="title">
            <span class="pull-left"><span class="text">Randomize</span></span>
            <span class="pull-right">
      <a class="left button" href="#myCarousel" data-slide="prev"></a>
      <a class="right button" href="#myCarousel" data-slide="next"></a>
    </span>
          </h4>
          <div id="myCarousel" class="carousel slide">
            <div class="carousel-inner">

              <div class="active item" th:if="${featuredProducts.size() > 3}">
                <ul class="thumbnails listing-products">
                  <li class="span3" th:if="${featuredProducts.size() > 3}">
                    <div class="product-box" th:object="${featuredProducts.get(3)}">
                      <span class="sale_tag"></span>
                      <a th:href="@{'/products/detail/' + *{id}}">
                        <img th:src="@{*{imageUrl}}" alt="" />
                      </a><br/>
                      <a th:href="@{'/products/detail/' + *{id}}" class="title" th:text="*{title}">Title</a><br/>
                      <a href="#" class="category" th:text="*{category.name}">Category</a>
                      <p class="price" th:text="'$' + *{price}">$0</p>
                    </div>
                  </li>
                </ul>
              </div>

              <div class="item" th:if="${featuredProducts.size() > 4}">
                <ul class="thumbnails listing-products">
                  <li class="span3">
                    <div class="product-box" th:object="${featuredProducts.get(4)}">
                      <span class="sale_tag"></span>
                      <a th:href="@{'/products/detail/' + *{id}}">
                        <img th:src="@{*{imageUrl}}" alt="" />
                      </a><br/>
                      <a th:href="@{'/products/detail/' + *{id}}" class="title" th:text="*{title}">Title</a><br/>
                      <a href="#" class="category" th:text="*{category.name}">Category</a>
                      <p class="price" th:text="'$' + *{price}">$0</p>
                    </div>
                  </li>
                </ul>
              </div>

              <div class="item" th:if="${featuredProducts.size() > 5}">
                <ul class="thumbnails listing-products">
                  <li class="span3">
                    <div class="product-box" th:object="${featuredProducts.get(5)}">
                      <span class="sale_tag"></span>
                      <a th:href="@{'/products/detail/' + *{id}}">
                        <img th:src="@{*{imageUrl}}" alt="" />
                      </a><br/>
                      <a th:href="@{'/products/detail/' + *{id}}" class="title" th:text="*{title}">Title</a><br/>
                      <a href="#" class="category" th:text="*{category.name}">Category</a>
                      <p class="price" th:text="'$' + *{price}">$0</p>
                    </div>
                  </li>
                </ul>
              </div>

            </div>
          </div>
        </div>

        <div class="block">
          <h4 class="title"><strong>Best</strong> Seller</h4>
          <ul class="small-product">
            <li>
              <a th:href="${product.imageUrl}" title="Praesent tempor sem sodales">
                <img th:src="@{${product.imageUrl}}" alt="Praesent tempor sem sodales">
              </a>
              <a href="#">Praesent tempor sem</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>




</div>
</body>
</html>


